.toolbar {
    background-color: #1f2937;
    color: white;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}
.logo {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
}

.logo-img {
    width: 40px; /* Adjust size as needed */
    height: 40px;
    margin-right: 10px; /* Spacing between logo and text */
}

.logo-text {
    font-size: 20px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 16px;
}

.nav-links a:hover {
    text-decoration: underline;
}

.search-bar {
    display: flex;
    align-items: center;
    margin-left: auto;
  }

  .search-bar input {
    padding: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    outline: none;
  }

  .search-bar button {
    padding: 5px 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-left: none;
    background-color: #3b82f6;
    color: white;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
  }

  .search-bar button:hover {
    background-color: #1f2937;
  }